.info {
    width: 100%;
    padding: 3rem 0;  
}


@media screen and (max-width: 940px) {

    .info {
        top: auto;
         margin-top: 30px;
    }
  }


.info img {
    cursor: pointer;
}

.info .box {
    display: flex;
    max-width: 310px;
    align-items: center;
    margin: auto;
    text-align: center;
}


.info form {
    display: flex;
    flex-direction: column;
}

.input-wrap {
    margin: .4rem;
    display: flex;
    flex-direction: column;
}

.info input, select {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.info .date {
    display: flex;
}

.info button {
    margin: .4rem;
}


@media screen and (max-width: 940px) {
    .info .container {
        grid-template-columns: 1fr;
    }

    .info-col-2 {
        grid-template-columns: 1fr;
    }

    .info .right {
        max-width: 100%;
    }

    .info form {
        width: 100%;
    }

    .info .date {
        flex-direction: column;
    }
}