.author_photo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text_desc {
    font-size: larger;
    line-height: 1.6em;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
}