.container-popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;  
    background-color: rgba(0,0,0,0.25);
    line-height: 1.5;
    
}

.popup-inner {
    width: 700px;
    height: 500px;
    background-color: var(--primary-blue);
    display: flexbox;
    border-width: 10px;
    border-style: solid;
    border-color: #fff;
    
}

.close-btn{
    background-color: #fff; 
    position: absolute;
    right: 0;
    padding: 10;
    top: 150px;
    right: 570px;
    width: auto;
}


@media only screen and (max-width: 689px) {
  .close-btn {
    right: 0px;
  }
}

.col-1 {
  display: flex; 
}

.envelope {
  width: 100px;
  height: 100px;
  padding-top: 180px;
  
 }

 @media only screen and (max-width: 1024px) {
  .col-1 {
    display: none;
  }
}

.col-2 {
  width: 80%;
  text-align: center;
  
}

.col-2 li {
  text-align: left;
  margin-top: -30px;
  margin-bottom: 25px;
}

.btn-subscribe {
    margin-top: 10px;
}

.col-2 h1 {
  margin-top: -40px;
}


.banner-newsletter {
    float: left;
    width: 360px;
  }

  .row {
    display: flex;
  }

  .col {
    flex: 50%;
  }

  .labels input {
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background: transparent;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-bottom: 1px solid var(--primary-orange);
    color: #fff;
  }

  .btn-subscribe {
    width: 400px;
    height: 50px;
    padding-left: 150px;
    font-size: 1re; 
  }

  .checkbox {
    padding-top: 20px ;
  }

  .checkbox label {
    padding-left: 5px;
    font-weight: bold;
    color: #fff;
  }

.terms {
  font-weight: bold;
  color: #fff;
}

.terms a {
  color: #be9656;
}

