
.register{
  text-align: center;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: var(--primary-blue);
  align-items: center;
  color: white;
  width: 800px;
  height: 600px;
}


#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}



#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}



