.footer {
    width: 100%;
    padding: 2rem 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    color: white;
    border-top-style: outset ;
    
}

.footer h3 {
    color: var(--primary-light);
}

.footer .top, .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer .social {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.footer .left, .right {
    display: flex;
    align-items: center;
}

.footer svg {
    color: white;
}

.footer ul {
    display: flex;
}

.footer li {
    padding: .5rem;
}

@media screen and (max-width: 1140px) {
    .footer ul {
        flex-direction: column;
    }
}